# 0.0 Imports

In [17]:
import pandas as pd
import inflection
import math 
from statistics import mean

## 0.1 Helper Functions

## 0.2 Loading Data

In [2]:
df_sales_raw = pd.read_csv('Data/train.csv', low_memory = False)
df_store_raw = pd.read_csv('Data/store.csv', low_memory = False)


# Merge:
#Neste merge ele pegou a tabela Store.csv e anexou ao lado direito da tab Train (Menos a linha Store que Ã© a comum entre as duas)
#Creio que 'Left' quis dizer que a Coluna Store ficou ao lado Esquerdo de tudo.
df_raw = pd.merge( df_sales_raw, df_store_raw , how='left', on='Store')

In [3]:
df_raw

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1017205,1112,2,2013-01-01,0,0,0,0,a,1,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1017206,1113,2,2013-01-01,0,0,0,0,a,1,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1017207,1114,2,2013-01-01,0,0,0,0,a,1,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1017208,1115,2,2013-01-01,0,0,0,0,a,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [4]:
df_sales_raw

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [5]:
df_store_raw

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

# 1.0 DESCRIÃÃO DOS DADOS

In [6]:
df1 = df_raw.copy()

In [7]:
#Agora temos todas as palavras emendadas por Underlines _  :
df1.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

## 1.1 Rename Columns

In [8]:
#df_raw.columns

In [9]:
cols_old = ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval']


snakecase = lambda x: inflection.underscore( x ) 

#Map -> Aplica uma funÃ§Ã£o a cada item de uma lista:
#Estamos convertendo tudo para uma lista (Ali no comeÃ§o):
cols_new = list(map(snakecase, cols_old ))

#Rename:
df1.columns = cols_new

## 1.2 Data Dimensions

In [10]:
#.Shape serve para printar linhas e colunas de um DataFrame :
#.. onde 0 significa Linhas e 1 as colunas:
print(f' Number of Rows  {df1.shape[0]}')
print(f' Number of Columns  {df1.shape[1]}')

 Number of Rows  1017209
 Number of Columns  18

## 1.3  Data types

In [11]:
#Sobrescrevemos a coluna 'date' com Ela mesma, porÃ©m convertida de 'Object' p/ o formato 'date':
df1['date'] = pd.to_datetime( df1['date'])
#Mostramos os novos resultados (Agora deixa de ser Object para ser DateTime64):
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
dtype: object

## 1.4 Check NAs

In [12]:
#Mostra onde ha colunas vazias
#Sendo 0 igual a Nenhuma coluna vazia
# A esquerda o nome da Coluna
# A direita (Indo na vertical) A quantidade de linhas faltantes
df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

## 1.5 FillOut NAs

In [22]:
df1[ 'competition_distance'].max()

75860.0

In [64]:
# competition_distance 
#..Usan um valor muito alto (200...) quando a valor da celula for nulo na tabela:
# Else -> Caso nÃ£o haja um valor faltante na coluna\celula, retorna o valor que estiver la:
#Onde esta 'X' era DF1:
# FunÃ§Ã£o Apply  -> Aplica esta Lambda em todas as linhas do DataSet:
# df1['competition_distance'] Na parte inicial da linha -> Especifica a coluna a qual devera ser aplicada a funÃ§Ã£o:
# Repetindo "df1['competition_distance']" no Inicio da linha -> Faz com que A coluna original seja sobre-escrita
df1['competition_distance'] = df1['competition_distance'].apply(lambda x: 200000.0 if math.isnan( x ) else x )



# competition_open_since_month  
#SentenÃ§a -> Se a coluna 'Competition_Open_Since_Month' for Nula
#..extraia o MÃªs da coluna 'date':
# Else -> Caso nÃ£o seja Nula -> Apenas retorna o valor nela jÃ¡ contido:
# SEM USAR LAMBDA -> df1['date'].month if math.isnan( df1['competition_open_since_month'] ) else df1['competition_open_since_month']
#Usabdo Lambda -> Podemos substituir 'DF1' por 'X':
# df1['competition_since_month'] =  -> SerÃ¡ sobrescrito pelo resultado da Lambda:
#df1['competition_since_month'] = df1.apply(lambda x: x['date'].month if math.isnan( x['competition_open_since_month'] ) else x['competition_open_since_month'], axis = 1)
df1.competition_open_since_month.fillna(df1.date.dt.month, inplace=True)

# competition_open_since_year  
#df1['competition_since_year'] = df1.apply(lambda x: x['date'].year if math.isnan( x['competition_open_since_year'] ) else x['competition_open_since_year'], axis = 1 )
df1.competition_open_since_year.fillna(df1.date.dt.year, inplace=True)

# promo2_since_week 
df1['promo2_since_week'] = df1.apply(lambda x: x['date'].week if math.isnan( x['promo2_since_week'] ) else x['promo2_since_week'], axis = 1 )



# promo2_since_year               
df1['promo2_since_year'] = df1.apply(lambda x: x['date'].year if math.isnan( x['promo2_since_year'] ) else x['promo2_since_year'], axis = 1 )


# promo_interval (Dicionario):
Month_map = {1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov',12: 'Dec', }


#Aciona a coluna promo_interval -> Se ela for NA, SerÃ¡ substituida por ZERO (0)
# INPLACE=TRUE ->  Ele nÃ£o retornarÃ¡ nenhum valor, apenas modificarÃ¡ a coluna:

df1['promo_interval'].fillna(0, inplace = True)

#Nova Coluna a ser criada, que recebe o Valor
#.dt -> Transforma em Data
# .month -> Transforma em MÃªs
# Aplica/Mapeia a Lista 'Month_map' Para substituir os numeros por letras
df1['Month_Map'] = df1['date'].dt.month.map( Month_map)

In [66]:
#TESTANDO PEDAÃO DO CODIGO DA CELULA DE CIMA:

# promo_interval (Dicionario):
Month_map = {1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov',12: 'Dec', }


#Aciona a coluna promo_interval -> Se ela for NA, SerÃ¡ substituida por ZERO (0)
# INPLACE=TRUE ->  Ele nÃ£o retornarÃ¡ nenhum valor, apenas modificarÃ¡ a coluna:

df1['promo_interval'].fillna(0, inplace = True)

#Nova Coluna a ser criada, que recebe o Valor
#.dt -> Transforma em Data
# .month -> Transforma/Conveter para MÃªs
# Aplica a Lista 'Month_map' Para substituir os numeros por letras
df1['Month_Map'] = df1['date'].dt.month.map( Month_map)

#Dividir Onde houver Virgulas (.split(',')):
#Verifica se 'df1['Month_map'] is' Esta dentro desta lista (Promo_interval)
#axis=1  -> Pois esta sendo usada mais de Uma Coluna :
#Tudo isso sera inserido numa nova coluna chamada 'is_promo':
# Se estiver no intervalo da promoÃ§Ã£o -> Retorna ZERO:
df1['is_promo'] = df1[['promo_interval', 'Month_Map']].apply(lambda x: 0 if x['promo_interval'] == 0 else 1 if x['Month_Map'] is x['promo_interval'].split(',') else 0, axis=1)

In [69]:
backup = df1.copy()

In [67]:
df1.sample(25).T

,232685,545173,290401,145782,297404,308502,831958,190832,743455,661089,...,851952,856003,414855,767155,325424,334196,558257,996620,383868,226123
store,766,724,870,833,305,157,954,168,536,680,...,878,469,861,821,267,692,428,596,833,894
day_of_week,7,5,2,1,1,3,7,2,2,6,...,3,6,3,2,6,4,7,6,7,6
date,2015-01-04 00:00:00,2014-02-28 00:00:00,2014-11-04 00:00:00,2015-03-23 00:00:00,2014-10-27 00:00:00,2014-10-15 00:00:00,2013-06-16 00:00:00,2015-02-10 00:00:00,2013-09-03 00:00:00,2013-11-16 00:00:00,...,2013-05-29 00:00:00,2013-05-25 00:00:00,2014-06-25 00:00:00,2013-08-13 00:00:00,2014-09-27 00:00:00,2014-09-18 00:00:00,2014-02-16 00:00:00,2013-01-19 00:00:00,2014-07-27 00:00:00,2015-01-10 00:00:00
sales,0,7237,7782,4669,5301,7128,0,6886,9331,6623,...,8375,12355,2939,9042,10223,6555,0,3825,0,4999
customers,0,759,931,485,521,804,0,762,1066,979,...,778,1721,466,1008,1240,818,0,582,0,618
open,0,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,0,1,0,1
promo,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,0
state_holiday,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
school_holiday,0,0,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
store_type,d,d,a,d,c,a,a,a,a,c,...,d,c,c,a,c,a,d,c,d,a
assortment,c,c,a,c,c,c,a,a,c,a,...,c,c,c,a,a,a,a,a,c,a
competition_distance,9820.0,5900.0,780.0,3290.0,2470.0,2950.0,390.0,12540.0,4700.0,170.0,...,1100.0,710.0,740.0,1700.0,2460.0,40.0,2960.0,290.0,3290.0,190.0
competition_open_since_month,1.0,2.0,4.0,12.0,2.0,10.0,2.0,2.0,9.0,11.0,...,12.0,9.0,6.0,9.0,1.0,8.0,12.0,9.0,12.0,11.0
competition_open_since_year,2015.0,2014.0,2009.0,1999.0,2005.0,2004.0,2013.0,2015.0,2002.0,2013.0,...,2014.0,2005.0,2014.0,2009.0,2012.0,2001.0,2014.0,2006.0,1999.0,2012.0
promo2,0,0,0,1,1,0,1,0,1,1,...,0,0,1,0,0,0,1,0,1,0
promo2_since_week,1.0,9.0,45.0,35.0,31.0,42.0,10.0,7.0,31.0,35.0,...,22.0,21.0,14.0,33.0,39.0,38.0,23.0,3.0,35.0,2.0
promo2_since_year,2015.0,2014.0,2014.0,2010.0,2013.0,2014.0,2014.0,2015.0,2013.0,2012.0,...,2013.0,2013.0,2013.0,2013.0,2014.0,2014.0,2015.0,2013.0,2010.0,2015.0
promo_interval,0,0,0,"Mar,Jun,Sept,Dec","Mar,Jun,Sept,Dec",0,"Jan,Apr,Jul,Oct",0,"Feb,May,Aug,Nov","Mar,Jun,Sept,Dec",...,0,0,"Mar,Jun,Sept,Dec",0,0,0,"Mar,Jun,Sept,Dec",0,"Mar,Jun,Sept,Dec",0
Month_Map,Jan,Feb,Nov,Mar,Oct,Oct,Jun,Feb,Sep,Nov,...,May,May,Jun,Aug,Sep,Sep,Feb,Jan,Jul,Jan
is_promo,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
competition_since_month,1.0,2.0,4.0,12.0,2.0,10.0,2.0,2.0,9.0,11.0,...,12.0,9.0,6.0,9.0,1.0,8.0,12.0,9.0,12.0,11.0
competition_since_year,2015.0,2014.0,2009.0,1999.0,2005.0,2004.0,2013.0,2015.0,2002.0,2013.0,...,2014.0,2005.0,2014.0,2009.0,2012.0,2001.0,2014.0,2006.0,1999.0,2012.0

In [62]:
df1.isna().sum()

store                           0
day_of_week                     0
date                            0
sales                           0
customers                       0
open                            0
promo                           0
state_holiday                   0
school_holiday                  0
store_type                      0
assortment                      0
competition_distance            0
competition_open_since_month    0
competition_open_since_year     0
promo2                          0
promo2_since_week               0
promo2_since_year               0
promo_interval                  0
Month_Map                       0
is_promo                        0
competition_since_month         0
competition_since_year          0
dtype: int64

In [28]:
# Novo Valor MÃ¡ximo = 200000.0 Metro:
df1[ 'competition_distance'].max()

200000.0

In [71]:
df3 = df1

In [72]:
# substitui os 0 para '', assim nÃ£o serÃ¡ necessÃ¡rio um dos if's do is_promo
df3['promo_interval'].replace(0, '', inplace=True)
# mesmo aqui
df3['promo_interval'].fillna('', inplace=True) 

# obtem a abreviatura do mÃªs
df3['Month_Map'] = df3['date'].dt.strftime("%b") 

# como nÃ£o tem 0's mais, tudo vai ser string, entÃ£o podemos remover aqueles if's
df1['is_promo'] = df3[['promo_interval', 'Month_Map']].apply(lambda x: x['Month_Map'] in x['promo_interval'].split( ',' ), axis='columns').astype('int')

In [74]:
#IS_PROMO -> Funciona AQUI !!!
df3.sample(25).T

,672122,540605,472788,395491,801507,181373,222584,995554,605511,378261,...,723401,945931,333649,754900,689512,332517,973175,539838,523840,359279
store,563,616,814,202,608,744,700,645,852,836,...,552,82,34,831,113,923,566,964,576,493
day_of_week,3,2,7,1,6,4,2,7,7,6,...,6,2,4,6,1,6,6,3,3,5
date,2013-11-06 00:00:00,2014-03-04 00:00:00,2014-05-04 00:00:00,2014-07-14 00:00:00,2013-07-13 00:00:00,2015-02-19 00:00:00,2015-01-13 00:00:00,2013-01-20 00:00:00,2014-01-05 00:00:00,2014-08-02 00:00:00,...,2013-09-21 00:00:00,2013-03-05 00:00:00,2014-09-18 00:00:00,2013-08-24 00:00:00,2013-10-21 00:00:00,2014-09-20 00:00:00,2013-02-09 00:00:00,2014-03-05 00:00:00,2014-03-19 00:00:00,2014-08-22 00:00:00
sales,5319,11163,0,7171,4195,7446,5610,0,0,2625,...,3509,11517,6988,6962,8749,4532,2899,12892,7190,9041
customers,677,984,0,603,422,817,619,0,0,275,...,405,968,934,1077,778,516,384,1766,916,914
open,1,1,0,1,1,1,1,0,0,1,...,1,1,1,1,1,1,1,1,1,1
promo,1,1,0,1,0,1,1,0,0,0,...,0,1,1,0,1,0,0,1,1,1
state_holiday,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
school_holiday,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
store_type,a,a,d,d,a,a,a,a,c,a,...,a,a,c,a,d,a,a,a,c,d
assortment,a,c,c,c,c,a,c,a,a,a,...,a,a,a,a,c,a,a,a,a,c
competition_distance,700.0,3040.0,24530.0,5140.0,18370.0,1370.0,830.0,90.0,940.0,2720.0,...,4260.0,22390.0,2240.0,800.0,20930.0,280.0,3620.0,270.0,50.0,1150.0
competition_open_since_month,3.0,8.0,7.0,5.0,2.0,12.0,1.0,1.0,4.0,9.0,...,7.0,4.0,9.0,6.0,11.0,9.0,2.0,3.0,11.0,8.0
competition_open_since_year,2015.0,2011.0,2013.0,2010.0,2013.0,2011.0,2015.0,2013.0,2004.0,2012.0,...,2008.0,2008.0,2009.0,2007.0,1999.0,2008.0,2013.0,2014.0,2006.0,2014.0
promo2,1,1,0,0,1,1,1,1,1,0,...,1,1,0,0,0,0,1,1,0,1
promo2_since_week,10.0,35.0,18.0,29.0,14.0,40.0,27.0,45.0,14.0,31.0,...,37.0,37.0,38.0,34.0,43.0,38.0,40.0,5.0,12.0,14.0
promo2_since_year,2014.0,2010.0,2014.0,2014.0,2011.0,2014.0,2013.0,2009.0,2011.0,2014.0,...,2009.0,2009.0,2014.0,2013.0,2013.0,2014.0,2013.0,2013.0,2014.0,2011.0
promo_interval,"Jan,Apr,Jul,Oct","Mar,Jun,Sept,Dec",,,"Jan,Apr,Jul,Oct","Jan,Apr,Jul,Oct","Jan,Apr,Jul,Oct","Feb,May,Aug,Nov","Jan,Apr,Jul,Oct",,...,"Jan,Apr,Jul,Oct","Jan,Apr,Jul,Oct",,,,,"Jan,Apr,Jul,Oct","Feb,May,Aug,Nov",,"Jan,Apr,Jul,Oct"
Month_Map,Nov,Mar,May,Jul,Jul,Feb,Jan,Jan,Jan,Aug,...,Sep,Mar,Sep,Aug,Oct,Sep,Feb,Mar,Mar,Aug
is_promo,0,1,0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
competition_since_month,3.0,8.0,7.0,5.0,2.0,12.0,1.0,1.0,4.0,9.0,...,7.0,4.0,9.0,6.0,11.0,9.0,2.0,3.0,11.0,8.0
competition_since_year,2015.0,2011.0,2013.0,2010.0,2013.0,2011.0,2015.0,2013.0,2004.0,2012.0,...,2008.0,2008.0,2009.0,2007.0,1999.0,2008.0,2013.0,2014.0,2006.0,2014.0

In [75]:
df3.isna().sum()

store                           0
day_of_week                     0
date                            0
sales                           0
customers                       0
open                            0
promo                           0
state_holiday                   0
school_holiday                  0
store_type                      0
assortment                      0
competition_distance            0
competition_open_since_month    0
competition_open_since_year     0
promo2                          0
promo2_since_week               0
promo2_since_year               0
promo_interval                  0
Month_Map                       0
is_promo                        0
competition_since_month         0
competition_since_year          0
dtype: int64

## 1.1

## 1.1

## 1.1

## 1.1

## 1.1